<!-- Todo -->
<form [formGroup]="loginForm" (ngSubmit)="login()" class="add-movie-form">
  <!-- <form class="add-movie-form"> -->
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput placeholder="Tejaswini" formControlName="username" />

    @if(username?.touched && username?.hasError('required') ){
    <mat-error>Username is <strong>required</strong></mat-error>
    } @if(username?.touched && username?.hasError('minlength') ){
    <mat-error>Please provide full username 😁</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      type="text"
      matInput
      placeholder="123467abc"
      formControlName="password"
    />
  </mat-form-field>

  <button mat-raised-button type="submit">Login</button>
</form>
