<div class="flex">
  @for(excercise of CartData ; track $index ){

  <mat-card>
    <div class="style">
      <h4 class="movie-title">
        {{ excercise.name }}
      </h4>
      <img
        src="{{ excercise.image }}"
        alt="{{ excercise.name }}"
        class="movie-poster"
      />

      <div class="type">
        <p>Type: {{ excercise.type }}</p>
        <p>preferredTime :{{ excercise.preferredTime }}</p>
      </div>
      <p>Parts Effected :{{ excercise.bodyPartAffected }}</p>

      <p><i class="fa-solid fa-star"></i> {{ excercise.moreInfo }}</p>
    </div>
  </mat-card>
  }
</div>
