<div class="whole">
  <div class="form">
    <form [formGroup]="searchForm" class="search-bar">
      <br />
      <br />
      <input
        type="search"
        placeholder="search Workouts"
        formControlName="search"
        class="search-input"
      />
      <i class="fa-solid fa-magnifying-glass" style="color: black"></i>
    </form>
  </div>

  <section class="movie-list-container">
    @if(isLoading){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

    } @for (exe of filteredexcercises; track exe.ValueId){
    <app-excercise
      [excercise]="exe"
      (deleteMovieEvent)="deleteMovieP($event)"
      (editMovieEvent)="editMovieP($event)"
      (cartEvent)="cart($event)"
      [id]="exe.ValueId"
    />
    }
  </section>
</div>
