<div class="easy">
  <div class="title">
    <mat-card-title>Signup</mat-card-title>
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="userName" />
      @if(userName?.touched && userName?.hasError('required') ){
      <mat-error>Name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      @if(password?.touched && password?.hasError('required') ){
      <mat-error>password is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmpassword" />
      @if(confirmpassword?.touched && confirmpassword?.hasError('required') ){
      <mat-error>Entered password is<strong>Wrong</strong></mat-error>
      }
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Signup</button>
  </form>
</div>
