<!-- <div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="signup()" class="add-movie-form">
       <form class="add-movie-form"> 
      <mat-form-field>
        <mat-label>Adminname</mat-label>
        <input matInput placeholder="Srujan" formControlName="Adminname" />
   
        @if(Adminname?.touched && Adminname?.hasError('required') ){
        <mat-error>Adminname is <strong>required</strong></mat-error>
        } @if(Adminname?.touched && Adminname?.hasError('minlength') ){
        <mat-error>Please provide full movie Adminname 😁</mat-error>
        }
      </mat-form-field>
   
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="text"
          matInput
          placeholder="123467abc"
          formControlName="password"
        />
      </mat-form-field>
   
      <button mat-raised-button type="submit">SIGNUP</button>
    </form>
    <a routerLink="/admin">Already have an account?Login</a>
  </div>
  <router-outlet></router-outlet>
    -->
