<div class="homepage">
  <header>
    <h1>Welcome to The Pulse Forge !</h1>
    <p>Fitness Made Simple and Engaging</p>
  </header>
</div>

<app-banners />
<section class="whole">
  <section class="call-to-action">
    <h2>Ready to Get Started?</h2>
    <p>
      PulseForge makes it easy and enjoyable to stay fit, offering everything
      you need in one convenient place.
    </p>
    <button mat-raised-button color="primary" (click)="startExercise()">
      Start Exercise
    </button>
  </section>
</section>
