<div class="homepage">
  <header>
    <h1>Welcome to The Pulse Forge !</h1>
    <p>Fitness Made Simple and Engaging</p>
  </header>
  <section class="intro">
    <p>
      PulseForge is an innovative design to revolutionize the way users approach
      their fitness routines.
    </p>
  </section>
  <img src="https://i.gifer.com/41TK.gif" alt="" class="image" />
  <section class="call-to-action">
    <h2>Ready to Get Started?</h2>
    <p>
      PulseForge makes it easy and enjoyable to stay fit, offering everything
      you need in one convenient place.
    </p>
    <button mat-raised-button color="primary" (click)="startExercise()">
      Start Exercise
    </button>
  </section>
</div>
