.movie-container
{
    display:flex;
    flex-direction: row-reverse;
    color:whitesmoke;
    justify-content: center;
}
.movie-poster
{
    width:450px;
    align-items: center;
}
.body
{
    width:450px;

}
.parent
{
    display:grid;
    margin-top:50px;
    justify-items: center;
    border-radius: 15px;
}