.movie-container
{
    display:flex;
    flex-direction: row-reverse;
    color:whitesmoke;
    justify-content: center;
}
.movie-poster
{
    width:750px;
    align-items: center;
}
.body
{
    width:600px;
    font-size: 25px;
    line-height: 36px;
    padding-top: 25px;

}
.parent
{
    display:grid;
    margin-top:50px;
    justify-items: center;
    border-radius: 15px;
}