<div class="horizontal">
  <!-- <mat-card class="fitness-card"> -->
  <div class="movie-container">
    <img
      src="{{ excercise.image }}"
      alt="{{ excercise.name }}"
      class="movie-poster"
    />
  </div>
  <!-- <mat-card-content> -->
  <div class="total">
    <h2 class="movie-title">
      {{ excercise.name }}
    </h2>
    <div class="full">
      <button routerLink="/excercises/{{ id }}" class="styled-button">
        View Details
      </button>
    </div>
    <div class="type">
      <p><i class="fa-solid fa-list"></i> {{ excercise.type }}</p>
      <p>
        <i class="fa-regular fa-clock" style="font-size: 20px"></i>
        {{ excercise.preferredTime }}
      </p>
    </div>

    <div class="suggest">
      <app-counter />
      <button class="cart-button" (click)="cart()">❤</button>
    </div>

    <div class="action-buttons-container">
      @if(value == "0") {
      <div class="action-buttons">
        <button
          mat-icon-button
          aria-label="Delete movie"
          color="warn"
          class="size"
          (click)="deleteMovie()"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Edit movie"
          color="primary"
          class="size"
          (click)="editMovie()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      }
    </div>
  </div>
  <!-- </mat-card-content>
  </mat-card> -->
</div>
