<mat-card class="movie-container">
  <img
    src="{{ excercise.image }}"
    alt="{{ excercise.name }}"
    class="movie-poster"
  />
  <mat-card-content>
    <div class="movie-spec">
      <h4 class="movie-title">
        {{ excercise.name }}
        <button
          mat-icon-button
          aria-label="Details of Workout"
          routerLink="/excercises/{{ id }}"
        >
          <mat-icon>info</mat-icon>
        </button>
      </h4>
      <p class="movie-rating">⭐ {{ excercise.rating }}</p>
    </div>
    <div class="type">
      <p><i class="fa-solid fa-list"></i> {{ excercise.type }}</p>
      <p>
        <i class="fa-regular fa-clock" style="font-size: 20px"></i>
        {{ excercise.preferredTime }}
      </p>
    </div>
    <p>
      <i class="fa-solid fa-person-walking"></i>
      {{ excercise.bodyPartAffected }}
    </p>

    <p><i class="fa-solid fa-star"></i> {{ excercise.moreInfo }}</p>
    <div class="action-buttons-container">
      <app-counter />

      <div>
        <button class="cart-button" (click)="cart()">Try it</button>

        <button
          mat-icon-button
          aria-label="Delete movie"
          color="warn"
          (click)="deleteMovie()"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Delete movie"
          color="primary"
          (click)="editMovie()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
